@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    /* VAriaveis de cor */
    --black: #001219ff;
    --green: #005f73ff;
    --cyan: #0a9396ff;
    --white: #f2f2f2;
    --vanilla: #e9d8a6ff;
    --CorSecundaria: #ee9b00ff;
    --CorPrincipal: #ca6702ff;
    --rust: #bb3e03ff;
    --rufous: #ae2012ff;
    --auburn: #9b2226ff;
    /* variaveis de cor */


    /* variaveis de fonte */
    --FontePrincipal: "Arima", system-ui;
    --FonteGigante: 50px;
    --fonteMedia: 30px;
    /* variaveis de fonte */

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* REPLICANDO BANNER COM FLEX */

.banner2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    background-color: var(--vanilla);
}

.t-box {
    font-family: var(--FontePrincipal);
}



.t-foco2 {
    font-size: var(--FonteGigante);
}

.t-secundario2 {
    font-size: var(--fonteMedia);
}






/* REPLICANDO BANNER COM FLEX */


#card-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--CorSecundaria);
}

.card:hover {
    box-shadow: var(--rufous) 5px 7px;
}

.card {
    font-family: var(--FontePrincipal);
    background-color: var(--CorSecundaria);
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    box-shadow: var(--black) 2px 5px;
    color: var(--white);
}

.card img {
    width: 400px;
    height: 350px;
}

.card button {
    background-color: var(--vanilla);
    font-family: "Arima", system-ui;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-bottom-left-radius: 0 0 20px 20px;
    /* Apenas o canto inferior esquerdo arredondado */
    font-size: var(--FonteGigante);
    border: var(--CorPrincipal) 5px;
}

.banner {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--CorPrincipal);
}

.banner img {
    grid-column: 2/6;
    grid-row: 2/6;
}

.banner .t-foco {
    grid-column: 7/12;
    grid-row: 2/5;
    text-align: center;
    font-family: var(--FontePrincipal);
    font-size: var(--FonteGigante);
}

.banner .t-secundario {
    grid-column: 7/12;
    grid-row: 5/6;
    text-align: center;
    font-family: var(--FontePrincipal);
    font-size: var(--fonteMedia);
}
    

.logo-footer {
    height: 50px;
}

.container-footer {
    margin: 50px 204px 50px 204px;
}

footer {
    background-color: var(--green);
}


#layer1-footer {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    padding: 0 8px;
}

.footer-content a:hover {
    color: #00d8ff;
}



.footer-content img:hover {
    transform: scale(1.2);
}

footer p {
    margin: 5px 0;
}

.layer1-footer p {
    color: var(--white);
}

@media screen and (max-width: 430px) {
    .banner {
        display: flex;
        flex-direction: column;
        width: 430px;
    }

    .banner2 {
        display: flex;
        flex-direction: column;
        width: 430px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        background-color: chocolate !important;
    }

}